nginx-config
node_modules

# Ignore all files in mydir
.devcontainer/lua-scripts/generated/*

# Un-ignore the specific file in mydir
!.devcontainer/lua-scripts/generated/default.lua

.logs/*

