[submodule "sera-frontend"]
	path = sera-frontend
	url = https://github.com/Sera-ai/sera-frontend.git
	branch = main
[submodule "sera-backend"]
	path = sera-backend
	url = https://github.com/Sera-ai/sera-backend.git
	branch = main
[submodule "sera-backend-socket"]
	path = sera-backend-socket
	url = https://github.com/Sera-ai/sera-backend-socket.git
	branch = main
[submodule "sera-backend-sequencer"]
	path = sera-backend-sequencer
	url = https://github.com/Sera-ai/sera-backend-sequencer.git
	branch = main
[submodule "sera-backend-processor"]
	path = sera-backend-processor
	url = https://github.com/Sera-ai/sera-backend-processor.git
	branch = main
[submodule "sera-mongodb"]
	path = sera-mongodb
	url = https://github.com/Sera-ai/sera-mongodb.git
	branch = main
